.forecastContainer {
    background-image: url('../../../public/images/daytime-background.jpg');
    /* background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    border: 2px solid #000;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 10px;
}