.forecastCard {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 769px) {
    .forecastCard {
        display: block;
    }
}

.forecastCard p, .forecastCard h2, .forecastCard h3 {
    color: var(--white);
}

.forecastCard h2 {
    font-size: 4rem;
    margin: 0;
}

@media only screen and (max-width: 769px) {
    .forecastCard h2 {
        font-size: 1.2rem;
     }
}

.cityBlock {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: .75rem 3rem;
    border-radius: 15px;    
}

@media only screen and (max-width: 769px) {
    .cityBlock {
        padding: .75rem 1rem;
     }
}

.weatherBlock {
    text-align: left;
}

@media only screen and (max-width: 769px) {
    .weatherBlock {
        text-align: center;
    }    

    .forecastCard .weatherBlock h3 {
        font-size: 2rem;
    }
}

.weatherBlock h3 {
    font-size: 3rem;
    margin: 0;
}

.weatherBlockDetails {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;    
    padding: 0.25rem 1.2rem;
    margin: 1rem 0;
}